@model Front_End.Models.MarvelFoto

<form asp-action="MarvelDelete">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Delete Photo</h1>
        <input hidden asp-for="Id">
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Title</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Titulo" disabled class="form-control" />
            </div>            
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Description</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Descripcion" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Image URL</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImagenUrl" disabled class="form-control" />
            </div>
            <div class="col-10 pb-3">
                <img src="@Model.ImagenUrl" alt="Image Preview" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
            </div>

            <div class="col-5">
                <a asp-action="MarvelIndex" class="btn btn-primary form-control d-inline-block mr-2">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control d-inline-block" />
            </div>

        </div>

        <div>
        </div>
    </div>
</form>